*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body {
  overflow-y: hidden;
}

main {
  background: rgb(248,183,4);
  background: linear-gradient(0deg, rgba(248,183,4,1) 0%, rgba(243,126,3,1) 100%);
  height: 100vh;
}